{{!-- 

	-----EXAMPLE-----
	
	contactSection: {
      bgColour = "primary",
      textColour = "light",
      bgImage = "images/contact-image-50-800x600.png",
      sectionH2 = "Ready to get started?",
      sectionP = "Maybe you just have some questions. Either way, contact me and let me know. I’d love to hear from you.",
      buttonColour = "secondary",
      sectionButtonLink = "contact",
      sectionButtonText = "Contact me now",
	  otherClasses = "inset-background-right"
    }
	  
 --}}

<section class="bg-{{contactSection.bgColour}} text-{{contactSection.textColour}} py-5 {{contactSection.otherClasses}}" style='background-image:url({{contactSection.bgImage}});'>
	<div class="container">
		<h2>{{contactSection.sectionH2}}</h2>
		<p class="">{{contactSection.sectionP}}</p>
        <a class="shadow btn btn-{{buttonColour}}" href= "{{sectionButtonLink}}">{{sectionButtonText}}</a>	
	</div>
</section>